<div class="card img-fluid info">
    <div class="card-img-top">
        <i class="fa fa-vcard"></i>
    </div>
    <div class="card-img-overlay">
        <h4 class="card-title text-right">Address</h4>
        <p class="card-text text-right">
            {{address | async}}
        </p>
        <p class="card-text text-right">
            &nbsp;
        </p>
        <div class="card-btn text-right">
            <button class="btn btn-lg"><i class="fa fa-qrcode"></i></button>
            <button class="btn btn-lg"><i class="fa fa-print"></i></button>
            <button class="btn btn-lg"><i class="fa fa-copy"></i></button>
        </div>
    </div>
</div>