<div class="container">
    <div class="row justify-content-center align-items-center">
        <aside class="col-12 col-sm-12 col-md-4">
            <div class="card">
                <article class="card-body">
                    <h4 class="card-title mb-4 mt-1">Create new wallet</h4>
                    <form (ngSubmit)="confirmation()" [formGroup]="form">
                        <div class="form-group">
                            <label for="meneumonic">Your mneumonic phrase</label>
                            <textarea class="form-control" id="mneumonic" name="mneumonic" rows="3"
                                formControlName="mneumonic" readonly></textarea>
                        </div>
                        <div class="form-group">
                            <div class="text-center">
                                <div class="btn-group" role="group">
                                    <a [href]="fileUrl" download="mneumonic.txt" class="btn btn-lg btn-outline-secondary">
                                        <i class="fa fa-download"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="btn btn-lg  btn-outline-secondary" (click)="copyToClipboard()">
                                        <i class="fa fa-copy"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> I saved my mneumonic </button>
                        </div>
                        <div class="form-group">
                            <button [routerLink]="['/accounts/signin']" class="btn btn-outline-primary btn-block"> Back
                            </button>
                        </div>
                    </form>
                </article>
            </div>
        </aside>
    </div>
</div>