<div class="row">
    <div class="col-12 col-sm-12 col-md-12">
        <h3>Token List</h3>
        <section>
            <div class="card shadow p-3 mt-5 bg-white rounded cards" *ngFor="let item of tokens">
                <span>{{ item.name }} ({{item.symbol}})</span>
                <span>{{item.address}}</span>
                <h6>Balance</h6><h3> {{ item.balance }} </h3>
             
                    <div ngbDropdown class="d-inline-block text-right">
                        <button class="btn btn-outline-dark" id="actionDropdown" ngbDropdownToggle>Actions</button>
                        <div ngbDropdownMenu aria-labelledby="actionDropdown">
                            <a ngbDropdownItem [routerLink]="['/pages/token-send', item.id]">Send</a>
                            <a ngbDropdownItem (click)="removeToken(item.id)">Remove</a>
                        </div>
                    </div>
               
            </div>
        </section>
    </div>
</div>

