<div class="bg-light" id="sidebar-wrapper">
  <div class="sidebar-heading">SPL <span>WALLET</span> </div>
  <div class="list-group">
    <a [routerLink]="['/pages/home']" routerLinkActive="active"
      class="list-group-item list-group-item-action bg-light">
      <i class="fa fa-columns"></i> Dashboard
    </a>
    <a [routerLink]="['/pages/send']" routerLinkActive="active"
      class="list-group-item list-group-item-action bg-light">
      <i class="fa fa-share"></i> Send
    </a>
    <a href="https://etherscan.io/" target="blank" class="list-group-item list-group-item-action bg-light">
      <i class="fa fa-external-link"></i> Transactions
    </a>
  </div>
</div>