@import url('https://fonts.googleapis.com/css?family=Montserrat');
.sidebar-heading {
    color: #ffffff;
    cursor: default;
}

.sidebar-heading>span {
    text-transform: uppercase;
    font-weight: bold;
}

.sidebar-heading>span:hover {
    color: #d35613;
}

.bg-light {
    background-color: #132644 !important;
}

.list-group>a {
    color: #ffffff;
}

.list-group-item:hover {
    background-color: #d35613 !important;
}

.list-group-item.active {
    outline: none;
    border: none;
    background-color: #d35613 !important;
    font-weight: bold;
}

/* a {
    margin-bottom: 1px solid #000;
}

.list-group-item.active {
    background-color: #fff !important;
    opacity: 0.2;
    color: #438eb9;
}

i {
    margin-right: 5px;
}

.sidebar-heading a {
    color: #fff;
    font-size: 1em;
}

.bg-light {
    background-color: #438eb9 !important;
    color: #fff;
}

.bg-light a:hover {
    background-color: #fff !important;
    opacity: 0.5;
    color: #438eb9;
} */